.about-container {
  background-color: #dedef4;
  border-radius: 0.5rem;
  min-height: 90vh;
}

.content-container {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  max-height: 90vh;
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  width: 0 !important;
}

.content-container {
  overflow: -moz-scrollbars-none;
}

.content-container {
  -ms-overflow-style: none;
}

@media (max-width:767px) {
  .about-container {
    min-height: 25vh;
  }
  .content-container {
    max-height: 200vh;
  }
}

.about-color {
  color: #515769;
}

.text-color {
  color: #56575a;
}

.carousel-image {
  height: 60vh;
  max-height: 500px;
}

.carousel-image > img {
  height: 100%;
  width: auto;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-caption {
  color: #56575a;
  background: #dedef4;
  padding: 10px;
}

.social-icons {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: 16px;
  color: #515769;
  background: #dedef4;
  border-radius: 50%;
  padding: 11px;
}

.social-icons:hover {
  color: #fff;
  background: #515769;
  text-decoration: none;
}

.social-icons,
.social-icons:hover {
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7, 1, .7, 1);
}

.list-inline {
  vertical-align: middle;
}